body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#designer{
  width: 100%;
  height: 70vh;
}
#designer>div{
  width: 100% !important;
  height: 100% !important;
}
#designer #div_pdfme_ui_paper_container{
  width: 100% !important;
}
/* #designer #pdfme_ui_zoom_comtainer{} */
#designer #pdfme_ui_parent_of_zoom_comtainer{width: 100% !important;}

#SignatureCanvas{
  border: solid 1px;
  width: 450px;
  height: 150px;
}
#btnSignatureCanvasReset{
  position: relative;
  left: -34px;
  top: -10px;
  border: none;
  background: transparent;
}